@{
    ViewBag.Title = "О тестирующей системе ContestMeter";
}
<h3>@ViewBag.Message</h3>

<div class="col-md-12 alert alert-info">
    <p>Тестирующая система ContestMeter предназначена для проведения соревнований по программированию (контестов) с автоматической проверкой решений участников.</p>
    <p>Она имеет интуитивно понятный web-интерфейс и позволяет проводить олимпиады по правилам ACM и KYROV.</p>
    <br/>
    <p>Система была разработана в стенах факультета "Механики, математики и компьютерных наук" Ростовского университета ЮФУ следующими авторами:</p>
    <ul>
        <li>Штейнберг Роман Борисович;</li>
        <li>Надолин Дмитрий Константинович;</li>
        <li>Чеботов Николай Валерьевич.</li>
    </ul>
    <br/>
    <p>Данная программа является свободным ПО. Вы можете распространять и/или модифицировать её в соответствии с Общей Лицензией GNU (<a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License</a>) любой версии.</p>
</div>
